
body {
  background: url(./assets/jungle.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: black;
}

.App {
  text-align: center;
  height: 50vh;
  position: absolute;
  overflow: none;
  left: 50%;
  top: 50vh;
}

.RoundInfo {
  position: absolute;
  left: calc(-50vh + 2rem);
  top: calc(-50vh + 2rem);
  padding: 0.25rem;
  width: 6rem;
  font-size: 1rem;
  background-color: #dfd;
  border: 1px solid #666;
  border-radius: 5px;
}

.Catcher {
  position: absolute;
  width: 25vh;
  left: 0;
  translate: -50% -40%;
  filter: drop-shadow(5px 5px 5px #222);
  transition: all 0.5s ease-out;
}

.Monkey {
  position: absolute;
  width: 12vh;
  left: 0;
  translate: -50% -50%;
  filter: drop-shadow(5px 5px 5px #222);
}

.MonkeyInfo {
  position: absolute;
  padding: 0.25rem;
  background-color: #dfd;
  border: 1px solid #666;
  border-radius: 2rem;
  transition: all 1s;
}

.MonkeyInfoBusy {
  top: var(--top);
  left: var(--left);
  font-size: 1.5vh;
  translate: -50% -220%;
  opacity: 1;
}

.MonkeyInfoFirst {
  left: -35vw;
  top: -3rem;
  font-size: 5rem;
  z-index: 1000;
  translate: -50% 0;
}

.MonkeyInfoSecond {
  left: -6vw;
  top: -3rem;
  font-size: 5rem;
  z-index: 1000;
  translate: -50% 0;
}

.MonkeyInfoBusinessHidden {
  left: 30vw;
  top: -3rem;
  font-size: 5rem;
  z-index: 1000;
  translate: -50% 0;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.MonkeyInfoBusiness {
  left: 30vw;
  top: -3rem;
  font-size: 5rem;
  z-index: 1000;
  translate: -50% 0;
  opacity: 1;
  transition: opacity 1s ease-in;
}

.MonkeyInfoHidden {
  top: var(--top);
  left: var(--left);
  font-size: 1.5vh;
  translate: -50% -220%;
  opacity: 0;
}

.Item {
  background: url(./assets/box.png) no-repeat center center;
  background-size: 100% 100%;
  padding-top: 1.2vh;
  padding-right: 0.5vh;
  position: absolute;
  width: 7vh;
  height: 3vh;
  filter: drop-shadow(2px 2px 5px #222);
  font-size: 1.5vh;
  font-weight: bold;
}

.Input {
  position: absolute;
  left: -10rem;
  top: -40vh;
  width: 25rem;
  height: 80vh;
  border: 0;
  resize: none;
  background-color: white;
  border: 1px solid #666;
  border-radius: 1rem;
  filter: drop-shadow(5px 5px 15px #222);
  display: flex;
  flex-direction: column;
  justify-items: stretch;
}

.InputFooter {
  height: 3rem;
  border-top: 1px solid #999;
  display: flex;
  justify-content: space-between;
}

.InputRangeSpan {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.InputRangeSlider {
  margin: 0.5rem;
}

.InputStartButton {
  margin: 0.5rem 1rem;
  height: 2rem;
  width: 6rem;
  font-size: 1rem;
  background-color: #0075ff;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

.InputTextArea {
  margin: 0.5rem;
  border: 0;
  resize: none;
  flex-grow: 1;
  font-family: 'Fira Code', 'Monospace';
  outline: none;
}

.MonkeyBusinessStrip {
  position: absolute;
  top: -6rem;
  height: 12rem;
  left: -50vw;
  width: 100vw;
  background-color: white;
  border: 1px solid #666;
  filter: drop-shadow(0 5px 15px #222);
  z-index: 999;
  transition: opacity 1s ease-in;
}

.MonkeyBusinessTimes {
  position: absolute;
  left: -20vw;
  top: -3rem;
  font-size: 5rem;
  z-index: 1000;
  translate: -50% 0;
  transition: opacity 2s ease-in;
}

.MonkeyBusinessEquals {
  position: absolute;
  left: 10vw;
  top: -3rem;
  font-size: 5rem;
  z-index: 1000;
  translate: -50% 0;
  transition: opacity 2s ease-in;
}